<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/images/pie_icon.png" type="image/x-icon">
    <title>SensorsPI</title>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/interface.js"></script>
    <script src="/static/js/graficos.js"></script>

</head>

<body>
    <!--Nav bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="/static/images/pie_icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> SensorsPI
        </a>
    </nav>


    <!-- Coisas ligadas no ESP -->
    <div class="container-fluid">
        <!-- Primeira linha -->
        <div class="row">

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active">Sensor Ultrassônico</a>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div id="distance" class="card-body">
                                <!-- Informações do sensor -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active">Última entrada no RFID</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div id="rfid_log" class="card-body">
                                <!-- Informações do sensor -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#11" data-toggle="tab">Data</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#12" data-toggle="tab">Gráfico</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" id="11">
                            <h3>Amanheceu é hora de dormir</h3>
                        </div>
                        <div class="tab-pane" id="12">
                            <div class="card-body">
                                <canvas id="myChart" width="400" height="400"></canvas>
                                <script>
                                    const ctx = document.getElementById("myChart").getContext('2d');

                                    //Type, Data and options 
                                    let chartGraph = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago",
                                                "Set", "Out", "Nov", "Dez"
                                            ],
                                            datasets: [{
                                                    label: "TAXA DE CLIQUES - 2017",
                                                    data: [5, 10, 1, 14, 20, 30, 6, 12, 5, 20, 78, 54],
                                                    borderWidth: 3,
                                                    borderColor: 'rgba(77,166,253,0.85)',
                                                    backgroundColor: 'transparent'
                                                },
                                                {
                                                    label: "TAXA DE CLIQUES - 2018",
                                                    data: [2, 7, 10, 20, 15, 28, 8, 6, 10, 14, 27, 69],
                                                    borderWidth: 3,
                                                    borderColor: 'rgba(231, 165, 99,0.85)',
                                                    backgroundColor: 'transparent'
                                                }
                                            ]
                                        },
                                        options: {
                                            title: {
                                                display: true,
                                                fontSize: 20,
                                                text: "TESTE DO CHARTS.JS"
                                            },
                                            labels: {
                                                fontStyle: "bold"
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <!-- Segunda linha -->
        <div class="row">

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#1" data-toggle="tab">Temperatura</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#2" data-toggle="tab">Gráfico</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div id="temperatura" class="card-body">
                                <!-- Informações do sensor -->
                            </div>
                        </div>
                        <div class="tab-pane" id="2">
                            <canvas id="tempGraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#3" data-toggle="tab">Umidade do ar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#4" data-toggle="tab">Gráfico</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" id="3">
                            <div id="umidade_ar" class="card-body">
                                <!-- Informações do sensor -->
                            </div>
                        </div>
                        <div class="tab-pane" id="4">
                            <canvas id="umiGraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class=" card card-sensor">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#5" data-toggle="tab">LDR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#6" data-toggle="tab">Gráfico</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" id="5">
                            <div id="ldr" class="card-body">
                                <!-- Informações do sensor -->
                            </div>
                        </div>
                        <div class="tab-pane" id="6">
                            <canvas id="ldrGraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>