doctype
html
    head
        title SensorsPI
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Bootstrap
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
        //- Meu css
        link(rel="stylesheet", href="../public/css/style.css")

        script(src="../public/js/interface.js")

    body
        .container
            h1 SensorsPI
            .row.voffset
                .col-md-6
                    div#temperatura Temperatura: 
                .col-md-6
                    div#umidade Umidade:  