<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/images/pie_icon.png" type="image/x-icon">
    <title>SensorsPI</title>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/interface.js"></script>
    
</head>
<body>
    <!--Nav bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="/static/images/pie_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            SensorsPI
        </a>
    </nav>
    
    
    <!-- Coisas ligadas no ESP -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        Temperatura
                    </div>
                    <div id="temperatura" class="card-body">
                        <!-- Informações do sensor -->
                        
                    </div>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        Umidade do ar
                    </div>
                    <div id="umidade_ar" class="card-body">
                        <!-- Informações do sensor -->
                    </div>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        Umidade do solo
                    </div>
                    <div id="umidade_solo" class="card-body">
                        <!-- Informações do sensor -->
                    </div>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        Corrente
                    </div>
                    <div id="corrente" class="card-body">
                        <!-- Informações do sensor -->
                    </div>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        Ultima entrada no RFID
                    </div>
                    <div id="rfid" class="card-body">
                        <!-- Informações do sensor -->
                    </div>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="card card-sensor">
                    <div class="card-header">
                        ?
                    </div>
                    <div class="card-body">
                        <!-- Informações do sensor -->
                        <canvas id="myChart" width="400" height="400"></canvas>
                        <script>
                        var ctx = document.getElementById("myChart").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });
                        </script>
                    </div>
                </div>            
            </div>
        </div>
    </div>


    
</body>
</html>